.HeaderWrapper{
  background-color: #444;
  display: flex;
  justify-content: center;
  .NavbarWrapper {
    padding: 0 calc(20px + 2vw);
    text-align: right;
    ul {
      display: inline-flex;
      flex-direction: row;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        display: inline-flex;
      }
    }
  }

  a,
  button {
    color: white;
    font-weight: bold;
    border: 0;
    background-color: transparent;
    height: 100%;
    padding: calc(9px + 0.9vw) calc(12px + 1.2vw);
    &:hover,
    &:focus {
      text-decoration: none;
      color: rgba(255,255,255,.85);
    }
  }
}